container {
  min-height: 100vh;
}

footer {
  padding: 3rem;
}

.nav-pills>li>a.active {
  background-color: #00000011 !important;
}

.nav-pills>li>a:hover {
  background-color: #00000011 !important;
}

.btn-facebook {
  color: #3b5998;
}

.btn-facebook:hover {
  color: #496ab1;
}

.btn-twitter {
  color: #55acee;
}

.btn-twitter:hover {
  color: #7bbcee;
}

#spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #FF304F;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}

.card-tooltip:after {
  border-right: solid 20px transparent;
  border-left: solid 20px transparent;
  border-top: solid 20px #CACACA;
  position: absolute;
  z-index: -1;
  content: '';
  transform: rotate(180deg);
  top: -20px;
  left: 45%;
  height: 0;
  width: 0;
  -webkit-filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.075));
  filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.075));
}

@media (min-width: 767px) {
  .card-tooltip:after {
    transform: rotate(90deg);
    top: 50%;
    left: -30px;
  }
}

.inverse-card-tooltip {
  width: 100%;
}

.inverse-card-tooltip:after {
  border-right: solid 20px transparent;
  border-left: solid 20px transparent;
  border-top: solid 20px #222222;
  position: absolute;
  z-index: 1;
  content: '';
  transform: rotate(0deg);
  top: 100%;
  right: 45%;
  height: 0;
  width: 0;
  -webkit-filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.075));
  filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.075));
}

@media (min-width: 767px) {
  .inverse-card-tooltip:after {
    transform: rotate(270deg);
    top: 50%;
    right: -30px;
  }
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-banner-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('./src/img/AdobeStock_300659628-min.jpeg');
}

.header-banner-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url('./src/img/AdobeStock_264922200-min.jpeg');
}

.header-banner-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./src/img/AdobeStock_113571196-min.jpg');
}

.login-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url('./src/img/AdobeStock_313914980-min.jpeg');
}

.signup-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url('./src/img/AdobeStock_286330506-min.jpeg');
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 100%;
  font-family: sans-serif;
  padding: 20px;
}

.drop-area.highlight {
  border-color: purple;
}

.rounded-top-left-50 {
  border-top-left-radius: 50rem !important;
}

.rounded-top-right-50 {
  border-top-right-radius: 50rem !important;
}

.rounded-bottom-left-50 {
  border-bottom-left-radius: 50rem !important;
}

.rounded-bottom-right-50 {
  border-bottom-right-radius: 50rem !important;
}

@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700);
$font-family-base:Montserrat;
@import url(https://fonts.googleapis.com/css?family=Comfortaa:200,300,400,700);
$headings-font-family:Comfortaa;

$enable-grid-classes:true;
$primary:#FF304F;
$secondary:#CACACA;
$success:#28a745;
$danger:#dc3545;
$info:#0F81C7;
$warning:#0DE2EA;
$light:#f8f9fa;
$dark:#222222;
$spacer:1rem;
$btn-border-radius:.25rem;
$border-width:1px;
$input-color: #555;
$input-border:#e3e3e3;
$input-color-placeholder: #e3e3e3;

@import "bootstrap/scss/bootstrap.scss";